body{
	 background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.container{
	width: 1167px;
	margin: 0 auto;
	margin-top: 21px;
	margin-bottom: 42px;
}
a{
	color: #000000;
	font-family: 'Roboto Serif', serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-right: 35px;
}
li{
	display: inline-block;
}
ul{
	display: inline-block;
}
nav{
	display: inline-block;
	vertical-align: middle;
}
.img-1{
	display: inline-block;
	vertical-align: middle;
}
h2{
	color: #000;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.card{
	position: relative;
	width: 362px;
	height: 357px;
	margin-top: 27px;
	display: inline-block;
	margin-right: 20px;
}
.parent{
	width: 362px;
	height: 186px;
	border-radius: 5px 5px 0px 0px;
	position: relative;
}
h3{
	position: absolute;
	color: #FFF;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	top: 32px;
	left: 41px;
}
.parent1{
	width: 362px;
	height: 186px;
	border-radius: 0px 0px 5px 5px;
	position: relative;
}
h4{
	position: absolute;
	bottom: 67px;
	left: 37px;
	width: 238px;
	color: #8A8787;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.time{
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 40px;
	left: 40px;
	vertical-align: middle;
}
h6{
	color: #8A8787;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	bottom: 41px;
	left: 67px;
}
.container2{
	margin: 0 auto;
	width: 1175px;
	margin-top: 57px;
}
.card1{
	display: inline-block;
	width: 758px;
	vertical-align: middle;
	margin-top: -20px;
}
.img-2{
	width: 758px;
	height: 430px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.img-4{
	width: 758px;
	height: 430px;
	border-radius: 5px;
}
.card2{
	display: inline-block;
	bottom: 2px solid black;
	width: 362px;
	vertical-align: middle;
	margin-left: 45px;
	margin-top: 20px;
}
.img-3{
	width: 362px;
	height: 212px;
	border-radius: 5px;
	margin-bottom: 98px;
}
.container3{
	border: 2px solid black;
	background-color: #243043;
	height: 201px;
	width: 1440px;
}
.card3{
	width: 55px;
	margin-top: 59px;
	margin-left: 137px;
	display: inline-block;
}
.a{
	color: #818687;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.li{
	margin-bottom: 14px;
}
.card4{
	width: 55px;
	display: inline-block;
	margin-left: 75px;
}
.card5{
	width: 55px;
	display: inline-block;
	margin-left: 100px;
}
.h5{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	margin-left: 112px;
	vertical-align: top;
	margin-top: 60px;
}
.logo{
	margin-left: 416px;
	margin-bottom: 65px;
}